<div class="header">
    <!-- alt text example #1 -->
    <img class="logo" src="https://veterans.rutgers.edu/themes/custom/at/rutgers-logo.svg" alt="Rutgers logo" />
    
    <nav class="main-nav">
      <ul class="nav-list" aria-label="main navigation">
        <!-- href="https://veterans.rutgers.edu/about-us/our-mission" tabindex example #2 -->
        <li><a href="https://veterans.rutgers.edu/about-us/our-mission"style="color: white;" >Our Mission</a></li>
        <!-- role role="button" + aria-label="Activities & Events - Check out some of our events!" observe before and after example #3 -->
        <li> <!-- <span class="visually-hidden">  -->
          <a href="#activities">Activities & Events</a>
          <!-- </span> -->
        <li>
             <!-- list example #4 follow HTML structure from documentations, this will prevent accesiblity issues  -->
            <button mat-button [matMenuTriggerFor]="veteransMenu" class="vetBtn">Veterans House</button>
            <!-- Veterans House Dropdown Menu -->
            <mat-menu #veteransMenu="matMenu">
                <!-- Are these tabindexes needed? lets try nagivating via up and down arrow keys-->
              <button mat-menu-item>
                <a tabindex="0" class="dropDownItems" href="https://veterans.rutgers.edu/about-us/">About Rutgers Veterans</a>
              </button>
              <button mat-menu-item>
                <a tabindex="0" class="dropDownItems" href="#Rutgers">Resources</a>
              </button>
              <button mat-menu-item>
                <a class="dropDownItems" >Virtual Vet House</a>
              </button>
            </mat-menu>
        </li>

      <li>
        <a href="https://studentveterans.org/" target="_blank" class="submenu-toggle">National SVA</a>
      </li>

      <li>
        <a href="#social">Social Media</a>
        <ul class="submenu">
          <li><a href="https://www.facebook.com/rutgerssva/">Facebook</a></li>
          <li><a href="https://www.instagram.com/ru_vets/">Instagram</a></li>
        </ul>
      </li>
      <li><a href="contactus.html">Contact Us</a></li>
      <li><a href="https://veterans.rutgers.edu/">Donate</a></li>
    </ul>
</nav>
</div>
